<html>

<head>
    <title>
        Vote tripling SMS transcript parsing
    </title>

    <style>
        body { width: 96%; padding: 2%; }
        h1 h2 h3 h4 h5 h6 { font-family: 'sans-serif'; }
        main { max-width: 800px; width: 100%; margin: auto; }
        ul.menu li { list-style-type: none; display: inline-block; margin: 0em .5em 2em 0;}
        ul.menu li a { padding: .5em; color: darkblue; background-color: #ccc;}
    </style>
</head>

<body>

    <main>

        <h1>Vote tripling SMS transcript parsing</h1>

        <ul class="menu"><li><a href="#van_export_cleaning">VAN export cleaning</a></li>
            <li><a href="#text_banker_log_cleaning">Text banker log cleaning</a></li>
        </ul>
        

        <hr />

        <h3 id='van_export_cleaning'>VAN Export Cleaning</h3>
         <p><strong>I have a VAN Export and I need to extract any tripling target names from the note text.</strong></p>

         <p>Upload a csv file with the following columns:</p>
         <ul>
        <li>*VANID* a unique ID for this row
        <li>*ContactName* the name of the tripler
        <li>*NoteText* free text possibly including names of tripling targets
        </ul>

        <form method="post" enctype="multipart/form-data">
            <input type="file" id="vec_file" name="vec_file" accept=".csv">
            <button>Submit</button>
        </form>

        <p>If successful, the output will include two files: 
        <ul><li>1. A file of triplers called `van_cleaned.csv`. For each tripler, we provide the following fields (each row represents one text message conversation):
            <ul><li>- *VANID* a unique identifier for the conversation
                <li>- *names_extract* the extracted names
            </ul>

            <li>2. A file of conversations for manual review called `van_manual_review.csv`, with the following fields:
                <ul><li>- *VANID* a unique identifier for the conversation
                    <li>- *ContactName* a unique identifier for the conversation
                    <li>- *NoteText* free text possibly including names of tripling targets
                    <li>- *names_extract* a guess for the extracted names (to be reviewed)
                </ul>
        </ul>

        <hr />

        <h3 id="text_banker_log_cleaning"> Text Banker Log Cleaning (utilizing text message conversation)</h3>
        <p><strong> I have text banker logs for names provided by vote triplers. I also have access to the initial text conversation. I need these logs cleaned up and standardized. </strong></p>

        <p>We use a different script for these cases, because we can clean up the logs better and perform spell check by looking at the original messages.</p>

        <p>Upload a csv file of the same format as the output of the aggregation in step 1.
        This csv file must also contain column 'names' containing the names logged by a text banker.</p>

        <form method="post" enctype="multipart/form-data">
            <input type="file" id="tblc_file" name="tblc_file" accept=".csv">
            <button>Submit</button>
        </form>

        <p>If successful, output will be a file named `labeled_names_cleaned_with_response.csv` with the cleaned names in a column titled "clean_names", along with any other columns in the initial file.</p>

        <hr/>

    </main>

</body>

</html>